/*
ThatStella7922 Landing Website Stylesheet

mreowww :3

v2023.0409.2
*/

/* small css reset because something was causing issues and im too dumb to figure out what it was */
body {
    margin: 0px 0px 0px 0px;
}

/* Prevent font scaling in landscape mode on mobile devices while still allowing user zoom */
@media screen and (orientation: landscape) {
    html {
        -webkit-text-size-adjust: 100%;
    }
}

/* handles safe area for notched iphones 
@supports(margin: max(0px)) {
    body {
        margin-left: max(0px, env(safe-area-inset-left));
        margin-right: max(0px, env(safe-area-inset-right));
    }
}

@supports(padding:max(0px)) {
    body, header, footer, nav {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
end of safe area handling for notched iphones */

/* Styling for all device sizes */
body {
    font-family: "Hind", sans-serif;
    color: #ffffff;
}

a {
    color:#E872E2;
}

#verticalcontainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#navigation {
    text-align: center;
    background-image: url('https://thatstel.la/landing-assets/idk.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid #E872E2;
    height: 100vh;
}

/* Styling for the main ThatStella7922 text */
#navigation #verticalcontainer #horizontalcontainer #displayname {
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #ffffff
}

/* Arrangement for the social links */
#navigation #horizontalcontainer .social-links form {
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline-block;
}
/* Arrangement for the social section label */
#navigation #horizontalcontainer .social-links .social-links-label {
    margin-top: 5vh;
    margin-bottom: 0;
}
/* Styling for the social links */
#navigation #verticalcontainer #horizontalcontainer .social-links form button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 9px 15px;
    margin: 4px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 100%;
}

/* Arrangement for the website buttons */
#navigation #horizontalcontainer .links form {
    padding: 0;
    margin: auto;
    display: inline-block;
}
/* Styling for the website link buttons (buttons pt2) */
#navigation #verticalcontainer #horizontalcontainer .links form button {
    /* basically make a button */
    background-color: #E872E2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 9px 25px;
    margin: 4px;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
}

footer {
    text-align: center;
    color: #000000;
}

/* Twemoji sizing */
img.emoji {
    height: 1.1em;
    width: 1.1em;
    vertical-align: -0.2em;
 }

/* Media quiery to check if the browser supports image effects */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #verticalcontainer {
        /* Blur the background */
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    #backdrop-warning {
        display: none;
    }
}

/* This media query checks if the browser does NOT support image effects */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #verticalcontainer {
        background-color: rgba(0, 0, 0, 0.70);
    }

    #backdrop-warning {
        display: block;
        position: absolute;
        margin: 5px;
        left: 0px;
        bottom: 0px;
        color: #FFFFFF;
        font-size: 14px;
    }
}

  
/* Media query for screens wider than 768px */
@media screen and (min-width: 768px) {
    #navigation #verticalcontainer #horizontalcontainer #displayname {
        font-size: 52px;
    }
}

/* Media query for small (phone) screens */
@media screen and (max-width: 420px) {
    #navigation #verticalcontainer #horizontalcontainer {
    transform: translateY(-1vh);
    }
}

/* dark mode styling! */
@media (prefers-color-scheme: dark) {
    /* Set the body color to a very dark gray */
    body {
        background-color: #1a1a1a;
        color:#FFFFFF;
    }

    footer {
        color: #ffffff;
    }

    /* Make the image darker */
    #verticalcontainer {
        background-color: rgba(0, 0, 0, 0.60);
    }
}