/*
ThatStella7922 Landing Website Stylesheet
 
v2022.1127.0
*/

/* small css reset and set a font so my eyes dont die */
body {
    margin: 0px;
    font-family: sans-serif;
}

/* Prevent font scaling in landscape mode on mobile devices while still allowing user zoom */
@media screen and (orientation: landscape) {
    html {
        -webkit-text-size-adjust: 100%;
    }
}

/* handles safe area for notched iphones */
@supports(margin: max(0px)) {
    body {
        margin-left: max(0px, env(safe-area-inset-left));
        margin-right: max(0px, env(safe-area-inset-right));
    }
}

@supports(padding:max(0px)) {
    body, header, footer, nav {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
/* end of safe area handling for notched iphones */

/* Styling for all device sizes */
a {
    color:#E872E2;
}

#horizontalcontainer {

}

#verticalcontainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#navigation {
    text-align: center;
    background-image: url('idk.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid #E872E2;
    height: 99.2vh;
}

#navigation #horizontalcontainer .links ul {
    list-style: none;
    padding: 0;
    margin: auto;
}

#navigation #verticalcontainer #horizontalcontainer .links li {
    display: inline-block;
}
  
#navigation #verticalcontainer #horizontalcontainer .links a {
    /* basically make a button */
    background-color: #E872E2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 3px;
    text-decoration: none;
    display: inline-block; 
}

#navigation #verticalcontainer #horizontalcontainer #displayname {
    font-size: 38px;
    color: #ffffff
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    /* Media quiery to check if the browser supports image effects  */
    #verticalcontainer {
        /* Blur the background */
        background-color: rgba(0, 0, 0, 0.35);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    #backdrop-warning {
        display: none;
    }
}
  
/* Media query for small (phone) screens
@media screen and (max-width: 320px) {
    nav {
        float: none;
    }

    nav a {
        width: 100%;
    }
}*/

/* dark mode styling! */
/* temporary disable of dark mode styling
@media (prefers-color-scheme: dark) {
    * {
        color:#FFFFFF;
    }
    
    body {
        background-color: #1a1a1a;
    }
}*/