/*
ThatStella7922 Landing Website Stylesheet

mreowww :3

v2023.0921.0
*/

/* small css reset because something was causing issues and im too dumb to figure out what it was */
body {
    margin: 0px 0px 0px 0px;
}

/* Prevent font scaling in landscape mode on mobile devices while still allowing user zoom */
@media screen and (orientation: landscape) {
    html {
        -webkit-text-size-adjust: 100%;
    }
}

/* Styling for all device sizes */
body {
    font-family: "Hind", sans-serif;
    color: #ffffff;
}

a {
    color: #9c0c0c;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#master {
    text-align: center;
    background-image: url('http://thatstel.la/landing-assets/IMG4036.jpg');
    background-image: url('//thatstel.la/landing-assets/IMG4036.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid #E872E2;
    min-height: 100vh;
    height: 100%;
}

#verticalcontainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: calc(100% - env(safe-area-inset-right) - env(safe-area-inset-left));
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

/* Styling for the main ThatStella7922 text */
#master #displayname {
    font-size: 42px;
    font-weight: 300;
    margin: 20px 0 20px 0;
    color: #ffffff
}

/* Move the ThatStella7922 text down */
#master #verticalcontainer #textabovelinks {
    margin-top: 15vh;
}

/*

Links Styling

*/
/* Maximum width for the social link div */
/* This is done so that the social link buttons and quotes text don't span across the entire width of the viewport in the case of a wide viewport */
#master #horizontalcontainer .social-links {
    max-width: 600px;
    display: inline-block;
}
/* Arrangement for the social links */
#master #horizontalcontainer .social-links form {
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline-block;
}
/* Arrangement for the social section label */
#master #horizontalcontainer .social-links .social-links-label {
    margin-top: 5vh;
    margin-bottom: 0;
}
/* Styling for the social links */
#master #verticalcontainer #horizontalcontainer .social-links form button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 9px 15px;
    margin: 4px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 100%;
}

/* Arrangement for the website buttons */
#master #horizontalcontainer .links form {
    padding: 0;
    margin: auto;
    display: inline-block;
}
/* Styling for the website link buttons (buttons pt2) */
#master #verticalcontainer #horizontalcontainer .links form button {
    /* basically make a button */
    background-color: #E872E2;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 9px 25px;
    margin: 4px;
    text-decoration: none;
    cursor: pointer;
    font-size: 100%;
}

/*

About Styling

*/
/* Maximum width for the about div */
/* This is done so that the about section doesn't span across the entire width of the viewport in the case of a wide viewport */
#master #verticalcontainer #about #about-text {
    max-width: 600px;
    display: inline-block;
}
/* Styling for the about heading */
#master #verticalcontainer #about #about-heading {
    margin-top: 7vh;
    font-size: 18px;
    font-weight: bold;
}


/* Footer */
footer {
    text-align: center;
    color: #000000;
}
#footer-sidebyside {
    display: block;
}

/* Twemoji sizing */
img.emoji {
    height: 1.1em;
    width: 1.1em;
    vertical-align: -0.2em;
}

/* Fallback CSS for devices that don't support the "fancier" stuff below with translucency and blurs */
#master {
    /* fallback to plain black */
    background-color: rgb(0, 0, 0);
    /* Translucent black if the browser supports it */
    background-color: rgba(0, 0, 0, 0.3);
}
#backdrop-warning {
    display: block;
    margin: 5px;
    color: #ffffff;
    font-size: 14px;
}

/* This media query checks if the browser does support image effects */
@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    #verticalcontainer {
        /* Blur the background */
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-backdrop-filter: blur(9px);
        backdrop-filter: blur(9px);
    }
    
    #backdrop-warning {
        display: none;
    }
}
  
/* Media query for screens wider than 800px */
@media screen and (min-width: 800px) {
    #master #verticalcontainer #displayname {
        font-size: 62px;
    }

    #horizontalcontainer {
        display: inline-flex;
    }

    /* Pad and ensure consistent size of the two divs */
    #master #verticalcontainer #horizontalcontainer #navigation {
        max-width: 50vw;
        padding-right: 15px;
    }
    #master #verticalcontainer #horizontalcontainer #about {
        max-width: 50vw;
        padding-right: 15px;
    }

    /* Move the ThatStella7922 text down and add equal bottom margin */
    #master #verticalcontainer #textabovelinks {
        margin-top: 5vh;
    }
    #master #verticalcontainer #horizontalcontainer #about {
        margin-bottom: 5vh;
    }

    /* Left align the about heading on big screens */
    #master #verticalcontainer #about #about-heading {
        margin-top: 0;
        text-align: left;
    }

    /* Allow elements in the footer to sit side by side */
    #footer-sidebyside {
        display: inline-flex;
    }
}

/* Media query for (phone) screens
@media screen and (max-width: 460px) {
    
}*/


/* Media query to do EDR on capable devices

For now, the effect only seems to work properly on WebKit browsers running on Apple OSes so I've limited it to only WebKit.
*/
#edr-enable {
    display: none;
}
@media screen and (dynamic-range: high) {
    @supports (-webkit-backdrop-filter: brightness()) {
        .edr-max {
            -webkit-backdrop-filter: brightness(1);
            filter:brightness(2.0)
        }
        .edr-high {
            -webkit-backdrop-filter: brightness(1);
            filter:brightness(1.75)
        }
        .edr-med {
            -webkit-backdrop-filter: brightness(1);
            filter:brightness(1.5)
        }
        .edr-low {
            -webkit-backdrop-filter: brightness(1);
            filter:brightness(1.25)
        }
        .edr-lowest {
            -webkit-backdrop-filter: brightness(1);
            filter:brightness(1.1)
        }

        #edr-enable {
            display: block;
        }
    }
}

/* dark mode styling! */
@media (prefers-color-scheme: dark) {
    /* Set the body color to a very dark gray */
    body {
        background-color: #1a1a1a;
        color:#FFFFFF;
    }

    footer {
        color: #ffffff;
    }

    /* Make the image darker */
    #verticalcontainer {
        background-color: rgba(0, 0, 0, 0.60);
    }
}